{% extends 'blogapp/base.html' %}

{% block content %}
<div class="container">
    <h1>Blog</h1>

    <h3>Register</h3>

    <a href="{% url 'blogapp:index' %}">Home</a>


    {% if message %}
    <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'blogapp:register' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="g-recaptcha" data-sitekey="6LfucdQZAAAAAA0DCMJCxQgSoc9raWLx_dQlmdFd"></div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</div>
{% endblock %}